{% extends 'base.html' %}

{% block content %}


<div class='container-sm'>

        <div class="row">
       <div class="col-3">
            Наименование
        </div>

       <div class="col-2">
            Автор
        </div>

       <div class="col-2">
             Жанр
        </div>
       <div class="col-1">
             Читают
        </div>
       <div class="col-1">
             Резерв
        </div>
       <div class="col-1">
             В наличии
        </div>

    </div>
</div>

<div class='container'>

        {% for book in object_list %}

           <div class="row">
               <div class="col-3">
                    {{ book.title }}
                </div>

               <div class="col-2">
                    {{ book.book_author }}
                </div>

               <div class="col-2">
                     {{ book.book_genre }}
                </div>
               <div class="col-1">
                     {{ book.reading_set.all.count }}
                </div>
               <div class="col-1">
                     {{ book.reserve_set.all.count }}
                </div>
               <div class="col-1">
                     {{ book.available_count }}
                </div>
               <div class="col-1">
               {% if book.available_count %}
                   <a href="{% url 'select_reader' book.slug %}">Выдать</a>
               {% else %}
                    Нет в наличии
               {% endif %}
               </div>

            </div><br>
        {% endfor %}
</div>
{% endblock %}

