<div class="row">
    <div class="col-2">

        <form action="{% url 'correct_book' book.slug %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="col-1">
        <a href="{% url 'create_author' %}" target="_blank">Создать</a>
    </div>
    <div class="col-1">
        <a href="{% url 'create_genre' %}" target="_blank">Создать</a>
    </div>

    <div class="col-1">
        <a href="{% url 'correct_genre' book.book_genre.slug %} " target="_blank">Редактировать название жанра</a>
    </div>

    <div class="col-1">
        <a href="{% url 'correct_author' book.book_author.slug %}" target="_blank">Редактировать название автора</a>
    </div>


</div>
