{% extends 'base.html' %}
{% block content %}
<div class='container' id="reader-card">
    <h3>{{ object.first_name }} {{ object.last_name }} - Карточка читателя</h3><br><br><br>
    <div class="row">
       <div class="col-5">
            Читает
        </div>

       <div class="col-5" id="date">
            Дата возврата
        </div>

       <div class="col-1">
        </div>
    </div><br>
</div>

<div class='container' id="reader-data">

    {%  for book in object.reading_set.all %}

       <div class="row">
           <div class="col-5">
            {{ book.book_id.title }}
            </div>

           <div class="col-5" id="date">
                {{ book.date_return }}
            </div>

    {% endfor %}
        </div>
</div>


    <div class="container" id="reader-card">
        <h4>Штрафы</h4><br>
        <div class="row">
            <div class="col-5">
                Книга
            </div>
            <div class="col-5" id="date">
                Статус
            </div>

        </div>
    </div>
    <div class="container" id="reader-data">
        {%  for fine in object.fine_set.all %}
        {% if not fine.pay_status %}
                <div class="row">
                    <div class="col-5">
                        {{ fine.reading_id.book_id.title }}
                    </div>
                    <div class="col-5" id="date">
                        Не оплачен
                    </div>

                </div>
        {% endif %}
        {% endfor %}
    </div>

{% endblock %}