{% extends 'base.html' %}
{% block content %}


<div class="container" id="create_book">
    <form action="{% url 'correct_book' book.slug %}"  method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-3">
                <h5>{{ form.title.label }}</h5><br>
                <h5>{{ form.book_author.label }}</h5><br><br>
                <h5>{{ form.book_genre.label }}</h5><br>
                <h5>{{ form.book_amount.label }}</h5><br>
            </div>

            <div class="col-8">
                <h5>{{ form.title }}</h5><br>
                <h5>{{ form.book_author }}    <a href="{% url 'create_author' %}" target="_blank" class="btn btn-outline-dark btn-sm" role="button" data-bs-toggle="button">Создать</a> <a href="{% url 'correct_author' book.book_author.slug %} " target="_blank" class="btn btn-outline-dark btn-sm" role="button" data-bs-toggle="button">Редактировать</a></h5><br>
                <h5>{{ form.book_genre }}     <a href="{% url 'create_genre' %}" target="_blank" class="btn btn-outline-dark btn-sm" role="button" data-bs-toggle="button" >Создать</a> <a href="{% url 'correct_genre' book.book_genre.slug %}" target="_blank" class="btn btn-outline-dark btn-sm" role="button" data-bs-toggle="button">Редактировать</a> </h5><br>
                <h5>{{ form.book_amount }}</h5><br>
            </div>

        </div><br><br><br><br><br><br><br><br><br>

        <div class="row">
            <div class="col-1">
                <input type="submit" value="Сохранить" class="btn btn-outline-dark btn-sm"" role="button" data-bs-toggle="button">
            </div>
        </div>

        
    </form>
</div>
{% endblock %}
