{% extends 'base.html' %}
{% block content %}


<div class="container" id="submit">
    <div class="row"></div>
    <h5>Подтвердите возврат:</h5>
    
   
    <div class="row">
        <div class="col-12">
            {{ user.first_name }} {{ user.last_name }} - {{ book.title }}<br>
            
        </div>
    </div>



    <div class="row-2">
        <div class="col-12">
            <form action="{% url 'del_confirm' book.slug user.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Подтвердить" class="btn btn-outline-dark btn-sm" role="button" data-bs-toggle="button">
            </form>
        </div>
    </div>
</div>

{% endblock %}