{% extends 'base.html' %}
{% block content %}
<div class="container" id="submit">
    <div class="row"></div>

    {% if not perm %}
    
    <div class="row">
        <div class="col-12">
            {{ user.first_name }} {{ user.last_name }} - {{ book.title }}<br>
            
        </div>
    </div>



    <div class="row-2">
        <div class="col-12">
            <form action="{% url 'confirm' book.slug user.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Подтвердить" class="btn btn-outline-dark btn-sm" role="button" data-bs-toggle="button">
            </form>
        </div>
    </div>

    {% else %}
    <div class="row">
        <div class="col-12">
            {{ perm }}<br>
        </div>
    </div>


    
    <div class="row">
        <div class="col-12">
            <a href="{% url 'reader_card' user.pk %}" class="btn btn-outline-dark btn-sm" role="button" data-bs-toggle="button">Перейти в профиль</a>
        </div>
    </div>
    {% endif %}




</div>



{% endblock %}