{% extends 'base.html' %}
{% block content %}
<form action="{% url 'readers' %}" method="get">

    {% if search_query %}
        <input type="text" name="search_query" value="{{ search_query }}">
    {% else %}
        <input type="text" name="search_query" value="">
    {% endif %}
    <button type="submit">Применить</button>
</form>
<a href="{% url 'readers' %}">Отчистить все</a>

<ul>
    {% for user in object_list %}
        <li><a href="{% url 'reader_card' user.pk %}">{{ user.first_name }} {{ user.last_name }}</a></li>
    {% endfor %}
</ul>

{% endblock %}